@tailwind base;
@tailwind components;
@tailwind utilities;

/* product sans font */
@font-face {
  font-family: "Product Sans";
  src: url("../public/assets/fonts/ProductSans-Bold.eot");
  src:
    url("../public/assets/fonts/ProductSans-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../public/assets/fonts/ProductSans-Bold.woff2") format("woff2"),
    url("../public/assets/fonts/ProductSans-Bold.woff") format("woff"),
    url("../public/assets/fonts/ProductSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("../public/assets/fonts/ProductSans-Regular.eot");
  src:
    url("../public/assets/fonts/ProductSans-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../public/assets/fonts/ProductSans-Regular.woff2") format("woff2"),
    url("../public/assets/fonts/ProductSans-Regular.woff") format("woff"),
    url("../public/assets/fonts/ProductSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("../public/assets/fonts/ProductSans-Medium.eot");
  src:
    url("../public/assets/fonts/ProductSans-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../public/assets/fonts/ProductSans-Medium.woff2") format("woff2"),
    url("../public/assets/fonts/ProductSans-Medium.woff") format("woff"),
    url("../public/assets/fonts/ProductSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* space mono font */
@font-face {
  font-family: "Space Mono";
  src: url("../public/assets/fonts/SpaceMono-Regular.ttf");
  src:
    url("../public/assets/fonts/SpaceMono-Regular.ttf?#iefix")
      format("embedded-opentype"),
    url("../public/assets/fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  src: url("../public/assets/fonts/SpaceMono-Bold.ttf");
  src:
    url("../public/assets/fonts/SpaceMono-Bold.ttf?#iefix")
      format("embedded-opentype"),
    url("../public/assets/fonts/SpaceMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.text-danger {
  @apply text-[#ef4444];
}
.border-danger {
  @apply !border-[#ef4444];
}
h1,
.h1 {
  @apply 2xl:text-5xl 1xl:text-[47px] xl:text-[43px] lg:text-[38px] md:text-[33px] sm:text-[28px] text-[25px] font-medium 2xl:leading-[70px] leading-tight;
}

h2,
.h2 {
  @apply 2xl:text-3xl xl:text-[32px] lg:text-[30px] sm:text-[28px] text-[22px] font-medium xl:leading-[45px] md:leading-[40px] sm:leading-9 leading-8;
}

h3,
.h3 {
@apply 2xl:text-2xl sm:text-[23px] text-xl font-medium 1xl:leading-[35px] sm:leading-[33px] leading-[30px];
}

h4,
.h4 {
  @apply 2xl:text-[22px] md:text-[20px] text-lg font-medium sm:leading-[45px] leading-[26px];
}

h5,
.h5 {
  @apply 2xl:text-xl xl:text-[19px] md:text-lg sm:text-[17px] text-base font-medium sm:leading-[30px] leading-6;
}

p,
.p {
  @apply 2xl:text-lg 1xl:text-[17px] sm:text-base text-[15px] 2xl:leading-[30px] xl:leading-7 sm:leading-6 leading-[19px] text-gray-200;
}

.p2 {
  @apply 2xl:text-base md:text-[15px] text-sm leading-5 text-gray-200;
}

.btn {
  @apply 2xl:px-5 px-4 xl:py-[7px] py-[6px] rounded-[5px] 2xl:text-base sm:text-[15px] text-sm md:leading-[25px] leading-5 flex-shrink-0 flex items-center justify-center;
}

.all-btn {
  @apply p !font-medium leading-[25px] !text-primary;
}

.new-btn {
  @apply p font-bold px-[10px] rounded-full;
}

.btn-outline-primary {
  @apply bg-white text-primary border border-primary hover:text-white focus:text-white active:text-white hover:bg-primary focus:bg-primary active:bg-primary transition-all duration-400 ease-in-out;
}

.btn-primary {
  @apply bg-primary text-white border border-primary hover:text-primary focus:text-primary active:text-primary hover:bg-white focus:bg-white active:bg-white transition-all duration-400 ease-in-out;
}

.btn-primary-reverse {
  @apply bg-white text-primary border border-white hover:text-white focus:text-white active:text-white hover:bg-primary focus:bg-primary active:bg-primary transition-all duration-400 ease-in-out;
}

.btn-secondary-reverse {
  @apply bg-white text-primary hover:text-black focus:text-black active:text-black transition-all duration-400 ease-in-out;
}

.btn-secondary {
  @apply bg-blue-300 text-primary border border-blue-300 hover:border-primary focus:border-primary active:border-primary hover:text-white focus:text-white active:text-white hover:bg-primary focus:bg-primary active:bg-primary transition-all duration-400 ease-in-out;
}
.black-btn{
  @apply bg-white text-black border border-[#00193E1A] hover:text-white focus:text-white active:text-white hover:bg-primary focus:bg-primary active:bg-primary transition-all duration-400 ease-in-out;
}
.full_bg {
  @apply 2xl:h-[500px] h-[480px] left-0 w-full bg-blue-300 absolute z-0;
}

.box_bg {
  @apply 2xl:h-[400px] lg:h-[350px] sm:h-[330px] h-[440px] 2xl:w-[1580px] 1xl:w-[1330px] xl:w-[1210px] lg:w-[1070px] md:w-[830px] w-[675px] max-w-full mx-auto rounded-[15px] bg-blue-300 absolute z-0 left-1/2 -translate-x-1/2;
}

.box_bg + .container .wc_box_bg_secton,
.full_bg + .container .wc_full_bg_secton {
  @apply 2xl:pt-[60px] lg:pt-[50px] pt-[30px];
}

/* navbar start */
.main-logo,
.main-logo-skeleton {
  @apply w-[265px] max-w-full;
}

.nav-logo {
  @apply flex-shrink-0 lg:border-r border-primary/10 2xl:pr-[35px] 1xl:pr-6 pr-3 sm:py-2;
}

.links-content {
  @apply lg:flex hidden space-x-5 py-[27px] pr-2 2xl:pl-8 1xl:pl-5 pl-2 w-[59%];
}
.schedule-skeleton {
  @apply 1xl:h-[40px];
}
.navigation-links {
  @apply lg:flex hidden gap-4;
}
.navigation-skeleton:nth-child(1) {
  @apply ml-3;
}
.author-links-content {
  @apply hidden xl:flex space-x-5 ps-[27px] w-[59%];
}

.button-content {
  @apply flex items-center gap-2;
}

.links {
  @apply hover:!text-primary p2 px-2 py-1 !text-base;
}

.author-links {
  @apply p2 px-2 py-1 !text-base;
}

.search {
  @apply h-6 w-6;
}

.schedule {
  @apply hidden 1xl:block btn btn-secondary-reverse mr-[3px] !px-5;
}

.schedule-skeleton {
  @apply w-[150px];
}

.login {
  min-width: auto;
}

.login {
  @apply p-0 1xl:!mr-5;
}

.login-skeleton {
  @apply 1xl:block rounded-md w-[150px] 1xl:h-[40px];
}

.login-svg {
  @apply hidden;
}

.badge,
.author-badge {
  @apply absolute -top-2 -right-2 bg-primary text-white text-xs rounded-full h-5 w-5 flex items-center justify-center;
}

.author-badge {
  @apply bg-white text-black;
}

.right-last-icon {
  @apply flex items-center divide-x divide-primary/10 space-x-[12px];
}

.cart {
  @apply relative pl-3;
}

.item-features {
  @apply flex-row justify-between;
}
.login-dropdown-menu {
  @apply right-0 top-[52px];
}

/* single-page-modal */
.modal-content {
  @apply 2xl:w-[1288px] 1xl:w-[1250px] xl:w-[1169px] lg:w-[965px] md:w-[743px] w-[640px] max-w-full !p-[30px] h-auto;
}

.single-page-modalbody {
  @apply flex items-start justify-between lg:flex-row flex-col 1xl:gap-[74px] lg:gap-11 gap-5 w-full mb-[10px] p-0;
}

.left-form {
  @apply flex-shrink-0 lg:w-[47%] w-full;
}

.left-form textarea {
  @apply 2xl:h-[280px] xl:h-[250px] lg:h-[230px] md:h-[150px] sm:h-[100px] h-[90px];
}

.right-info {
  @apply flex-shrink-0 lg:w-[47%] w-full;
}

.right-info .icon-border {
  @apply 2xl:w-[50px] 2xl:h-[50px] 1xl:w-12 1xl:h-12 xl:w-11 xl:h-11 sm:w-10 sm:h-10 h-9 w-9 mt-[10px] rounded-full 2xl:p-[13px] xl:p-[11px] sm:p-[9px] p-2 flex items-center justify-center border border-gray-100;
}

.icon-info {
  @apply 2xl:space-y-[26px] 1xl:space-y-[22px] xl:space-y-5 sm:space-y-3 space-y-2;
}

.icon-info .info {
  @apply 2xl:space-y-[14px] md:space-y-1 sm:space-y-0 space-y-2;
}

/* tabulator pagination */
.tabulator
  .tabulator-header
  .tabulator-col
  .tabulator-col-content
  .tabulator-col-title {
  @apply text-black !font-normal text-base;
}
/* .tabulator .tabulator-header .tabulator-col:nth-child(7) .tabulator-col-title {
  @apply text-center;
} */
.tabulator
  .tabulator-tableholder
  .tabulator-table
  .tabulator-row:nth-child(7)
  .tabulator-cell {
  @apply text-center w-auto;
}
.subpixel-antialiased .tabulator .tabulator-footer {
  @apply bg-white mx-0 pt-5 border-t border-primary/10;
}
.tabulator .tabulator-footer .tabulator-paginator {
  @apply inline-flex justify-end;
}
.tabulator .tabulator-footer .tabulator-paginator button.tabulator-page {
  @apply border w-10 h-10 mx-1 text-black hover:text-white inline-flex items-center justify-center p-2.5 rounded-lg p2 font-normal border-solid border-primary/10 hover:bg-primary;
}
.subpixel-antialiased .tabulator .tabulator-footer .tabulator-footer-contents {
  @apply p-0;
}
.tabulator .tabulator-footer .tabulator-pages {
  @apply !m-0;
}
.tabulator .tabulator-footer .tabulator-paginator button.tabulator-page.active {
  @apply bg-primary text-white hover:bg-primary hover:text-white;
}
.tabulator .tabulator-footer .tabulator-page-counter span {
  @apply p2 text-black !font-normal;
}
.subpixel-antialiased .tabulator .tabulator-footer .tabulator-paginator label,
.subpixel-antialiased
  .tabulator
  .tabulator-footer
  .tabulator-paginator
  .tabulator-page-size,
.tabulator
  .tabulator-footer
  .tabulator-paginator
  button.tabulator-page[aria-label="Next Page"],
.tabulator
  .tabulator-footer
  .tabulator-paginator
  button.tabulator-page[aria-label="Last Page"] {
  @apply hidden;
}
.tabulator
  .tabulator-footer
  .tabulator-paginator
  button.tabulator-page[aria-label="First Page"] {
  @apply order-1;
}
.tabulator .tabulator-footer .tabulator-paginator .tabulator-pages {
  @apply order-2;
}
.tabulator
  .tabulator-footer
  .tabulator-paginator
  button.tabulator-page[aria-label="Prev Page"] {
  @apply order-3;
}
.tabulator
  .tabulator-footer
  .tabulator-paginator
  button.tabulator-page[aria-label="First Page"],
.tabulator
  .tabulator-footer
  .tabulator-paginator
  button.tabulator-page[aria-label="Prev Page"] {
  @apply bg-no-repeat text-[0] bg-center;
}
.tabulator
  .tabulator-footer
  .tabulator-paginator
  button.tabulator-page[aria-label="First Page"] {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.575 15L13.75 13.825L9.93333 10L13.75 6.175L12.575 5L7.575 10L12.575 15Z' fill='black'/%3E%3C/svg%3E");
  opacity: 1;
}
.tabulator
  .tabulator-footer
  .tabulator-paginator
  button.tabulator-page[aria-label="Prev Page"] {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.675 5L7.5 6.175L11.3167 10L7.5 13.825L8.675 15L13.675 10L8.675 5Z' fill='black'/%3E%3C/svg%3E");
  opacity: 1;
}
.tabulator
  .tabulator-footer
  .tabulator-paginator
  button.tabulator-page[aria-label="First Page"]:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.575 15L13.75 13.825L9.93333 10L13.75 6.175L12.575 5L7.575 10L12.575 15Z' fill='white'/%3E%3C/svg%3E");
}
.tabulator
  .tabulator-footer
  .tabulator-paginator
  button.tabulator-page[aria-label="Prev Page"]:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.675 5L7.5 6.175L11.3167 10L7.5 13.825L8.675 15L13.675 10L8.675 5Z' fill='white'/%3E%3C/svg%3E");
}

@media (max-width: 1873px) {
  .author-links-content {
    @apply w-[58%];
  }
}

@media (max-width: 1842px) {
  .links-content {
    @apply w-[57%];
  }
}
@media (max-width: 1827px) {
  .author-links-content {
    @apply w-[57%];
  }
}

@media (max-width: 1794px) {
  .author-links-content {
    @apply w-[57%];
  }
}

@media (max-width: 1787px) {
  .author-links-content,
  .links-content {
    @apply w-[55%];
  }
}

@media (max-width: 1709px) {
  .author-links-content {
    @apply w-[53%];
  }
}
@media (max-width: 1694px) {
  .links-content {
    @apply w-[53%];
  }
}
@media (max-width: 1638px) {
  .author-links-content {
    @apply w-[52%];
  }
}
@media (max-width: 1630px) {
  .links-content {
    @apply w-[53%];
  }

  .login-skeleton {
    @apply w-[150px] 1xl:h-[40px];
  }

 
}
@media (max-width: 1615px) {
  .author-links-content {
    @apply w-[52%];
  }

  .schedule-skeleton {
    @apply w-[140px];
  }
}

@media (max-width: 1592px) {
  .main-logo,
  .main-logo-skeleton {
    @apply w-[230px];
  }

  .links-content {
    @apply w-[57%];
  }

  .author-links-content {
    @apply space-x-0 w-[55%];
  }

  .button-content {
    @apply gap-1;
  }

  .search {
    @apply w-5 h-5;
  }

  .schedule {
    @apply !px-3;
  }
}

@media (max-width: 1579px) {
  .links-content {
    @apply w-[56%];
  }
}
@media (max-width: 1572px) {
  .author-links-content {
    @apply w-[54%];
  }
}
@media (max-width: 1546px) {
  .author-links-content,
  .links-content {
    @apply w-[54%];
  }
}
@media (max-width: 1538px) {
  .author-links-content {
    @apply w-[53%];
  }
}

@media (max-width: 1506px) {
  .author-links-content {
    @apply w-[52%] ps-5;
  }
}

@media (max-width: 1501px) {
  .login {
    @apply 1xl:!mr-[10px];
  }

  .right-last-icon {
    @apply 1xl:space-x-3;
  }

  .cart {
    @apply relative pl-3;
  }
}

@media (max-width: 1463px) {
  .right-last-icon {
    @apply space-x-2;
  }
  .cart {
    @apply relative pl-1;
  }
}

@media (max-width: 1449px) {
  .author-links-content {
    @apply w-[50%];
  }
}
@media (max-width: 1433px) {
  .login-skeleton {
    @apply w-[140px] 1xl:h-[40px];
  }
}

@media (max-width: 1418px) {
  .links-content {
    @apply w-[54%];
  }
}

@media (max-width: 1410px) {
  .main-logo,
  .main-logo-skeleton {
    @apply w-[225px];
  }

  .links-content {
    @apply w-[54%];
  }
  .navigation-links {
    @apply gap-2;
  }
}

@media (max-width: 1392px) {
  .links-content {
    @apply w-[53%];
  }
}

@media (max-width: 1382px) {
  .author-links-content {
    @apply w-[49%] ps-4;
  }
}
@media (max-width: 1355px) {
  .author-links-content {
    @apply w-[48%];
  }
}

@media (max-width: 1350px) {
  .navigation-links {
    @apply gap-0;
  }
  .links-content {
    @apply w-[54%];
  }

  .navigation-skeleton {
    @apply mr-2;
  }
}

@media (max-width: 1338px) {
  .main-logo,
  .main-logo-skeleton {
    @apply w-[200px];
  }

  .links {
    @apply !text-[15px];
  }

  .schedule {
    @apply !px-2;
  }
}

@media (max-width: 1311px) {
  .login .login-btn,
  .after-login-btn {
    @apply hidden;
  }
  .login-skeleton {
    @apply rounded-full sm:w-6 sm:h-6 w-4 h-4 mr-1.5;
  }
  .login .login-svg,
  .after-login-svg {
    @apply flex;
  }

  .login {
    @apply !mr-0;
  }

  .meeting {
    @apply block;
  }

  .schedule {
    @apply hidden;
  }

  .links-content {
    @apply w-[71%];
  }
  .schedule-skeleton {
    @apply w-6 h-6 rounded-full mr-1.5;
  }
  .right-last-icon {
    @apply divide-x-0 space-x-[0px];
  }
  .login-dropdown-menu {
    @apply -right-[15px] top-[35px];
  }
}

@media (max-width: 1282px) {
  .author-links-content {
    @apply w-[46%];
  }
}

@media (max-width: 1259px) {
  .links-content {
    @apply w-full;
  }
  .author-badge {
    @apply -right-0;
  }
  .author-links-content {
    @apply w-[65%];
  }
}

@media (max-width: 1170px) {
  .links {
    @apply !text-[14px];
  }

  .navigation-links {
    @apply gap-0;
  }
}

@media (max-width: 640px) {
  .schedule-skeleton {
    @apply w-4 h-4;
  }
}

@media (max-width: 560px) {
  .tab-btn {
    @apply grid-cols-2;
  }
}

@media (max-width: 534px) {
  .author-main-logo {
    @apply hidden;
  }

  .author-logo {
    @apply block;
  }
}

@media (max-width: 455px) {
  .item-features {
    @apply flex-col justify-start;
  }
}

@media (max-width: 400px) {
  .html-categories {
    @apply grid-cols-1;
  }
}

@media (max-width: 384px) {
  .tab-btn {
    @apply grid-cols-1;
  }

  .icon {
    @apply w-[18px] h-[18px];
  }

  .nav-icons {
    @apply space-x-0;
  }

  .main-logo,
  .main-logo-skeleton {
    @apply w-[140px];
  }

  .main-logo-skeleton {
    @apply h-8;
  }

  .otp-input {
    @apply space-x-1.5;
  }

  .otp-input input {
    @apply w-10 h-10;
  }

  .cart {
    @apply relative pl-1;
  }
}

/* navbar end */
/* rich text stat */
.rich-heading {
  @apply 2xl:mb-[25px] 1xl:mb-5 xl:mb-4 mb-3;
}

.rich-subHeading {
  @apply 2xl:mb-5 1xl:mb-4 xl:mb-3 mb-2;
}

.rich-desc {
  @apply 2xl:space-y-5 1xl:space-y-4 xl:space-y-3 space-y-2 2xl:mb-9 1xl:mb-7 xl:mb-6 mb-4;
}

.rich-subDesc {
  @apply xl:space-y-5 space-y-2 xl:mb-8 mb-4;
}

/* rich text end */

/* AUTHOR PAGES START */
.line-chart .recharts-legend-wrapper {
  @apply !top-0 !bottom-auto flex justify-end;
}

.pie-chart .recharts-wrapper {
  @apply w-[226px];
}

/* tabulator */
.download-table .tabulator-tableholder {
  @apply 1xl:!overflow-hidden !overflow-auto;
}
.tabulator .tabulator-tableholder {
  @apply !overflow-auto;
}
.tabulator {
  @apply !border-0 !bg-white;
}

.tabulator-header-contents {
  @apply !bg-[#E6EFFB80] px-5 py-3;
}

.tabulator .tabulator-header {
  @apply rounded-md !mb-[15px];
}

.tabulator .tabulator-header .tabulator-col,
.tabulator .tabulator-header,
.tabulator-row .tabulator-cell {
  @apply !bg-transparent !border-0 2xl:text-base xl:text-[15px] text-sm text-gray-200 !p-0 !text-start;
}

.tabulator-row .tabulator-cell span {
  @apply block max-w-fit;
}

.tabulator-col-sorter {
  @apply !hidden;
}

.tabulator-row.tabulator-row-even {
  @apply !bg-white;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content {
  @apply !p-0;
}

.tabulator-row {
  @apply lg:py-[10px] md:py-2 sm:py-[6px] py-[4px] px-5 hover:!bg-white;
}

.tabulator-table {
  @apply !divide-y !divide-primary/10;
}

.tabulator
  .tabulator-header
  .tabulator-col.tabulator-sortable
  .tabulator-col-title {
  @apply !pr-0;
}

.tabulator-cell .text-red-600 {
  @apply !border !border-red-600 inline-block;
}

.tabulator-cell .text-emerald-700 {
  @apply !border !border-emerald-600 inline-block;
}

/* .tabulator-col[tabulator-field="no"] {

 @apply !w-[70px]

} */
.tabulator-row .tabulator-cell .tabulator-data-tree-control,
.tabulator-row .tabulator-cell .tabulator-data-tree-branch {
  @apply !hidden;
}

.product-image div {
  @apply !max-w-full;
}

/* AUTHOR PAGES END */

#CheckTicketStatus div {
  @apply !shadow-none;
}

.custom-auto-complete [data-slot="input-wrapper"] {
  @apply focus:!bg-transparent !bg-white shadow-none border border-gray-100 hover:border-default-400 focus:border-default-foreground xl:px-5 md:px-4 px-3 xl:py-[23px] sm:py-[21px] py-[20px] rounded-[5px];
}

.custom-auto-complete
  .group[data-focus="true"]
  .group-data-\[focus\=true\]\:bg-default-100 {
  @apply !bg-transparent;
}

.custom-auto-complete [data-slot="input-wrapper"] input {
  @apply 2xl:text-base md:text-[15px] sm:text-sm !text-black placeholder:text-gray-300;
}

.custom-auto-complete [data-slot="label"] {
  @apply 2xl:text-base md:text-[15px] sm:text-sm !text-black block !pb-1 !font-normal;
}

.custom-auto-complete.custom-auto-complete-error [data-slot="input-wrapper"] {
  @apply !bg-transparent !border-danger;
}

.custom-auto-complete [aria-haspopup="listbox"] {
  @apply !text-black;
}

.custom-phone [data-slot="input-wrapper"] {
  @apply !bg-white shadow-none rounded-[5px] !p-0;
}

.custom-phone [data-slot="input"] {
  @apply !hidden;
}

.custom-phone [data-visible="false"] {
  @apply !hidden;
}

.custom-phone [data-slot="base"] {
  @apply !w-min;
}

.sm\:data-\[visible\=true\]\:pointer-events-none[data-visible="true"] {
  @apply !opacity-100;
}

.rotate {
  transition: transform 0.3s ease;
  transform-origin: center;
}

.loader {
  @apply w-fit p2 !text-white text-base py-[7px] text-center mx-auto;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}

.loader:before {
  content: "Loading...";
}

.rotate.open {
  transform: rotate(180deg);
}

.tabulator-cell {
  @apply !h-auto;
}

/* Target a column where tabulator-field="product" */
div[tabulator-field="no"] {
  @apply 2xl:!w-[70px] 1xl:!w-[60px] sm:!w-[50px] !w-[40px];
}

div[tabulator-field="product"] {
  @apply 2xl:!w-[280px] sm:!w-[260px] !w-[230px];
}

div[tabulator-field="buyer"] {
  @apply 2xl:!w-[180px] 1xl:!w-[140px] !w-[130px];
}

div[tabulator-field="license"] {
  @apply 2xl:!w-[210px] 1xl:!w-[180px] !w-[160px];
}

div[tabulator-field="price"] {
  @apply 2xl:!w-[160px] 1xl:!w-[110px] !w-[90px];
}

div[tabulator-field="date"] {
  @apply 2xl:!w-[180px] 1xl:!w-[150px] !w-[130px];
}

div[tabulator-field="status"] {
  @apply 2xl:!w-[180px] sm:!w-[150px] !w-[130px];
}

div[tabulator-field="earnings"] {
  @apply !w-[70px];
}

/* deownload page */
div[tabulator-field="documentId"] {
  @apply 2xl:!w-[260px] 1xl:!w-[220px] xl:!w-[230px] lg:!w-[210px] !w-[200px];
}

div[tabulator-field="products"] {
  @apply 2xl:!w-[480px] xl:!w-[470px] lg:!w-[430px] !w-[400px];
}

div[tabulator-field="product_zip"] {
  @apply 2xl:!w-[170px] 1xl:!w-[150px] !w-[150px];
}

div[tabulator-field="downloadInvoice"] {
  @apply !w-[190px];
}

/* ticket/support */
.ticket-tabulator .tabulator-header-contents {
  @apply py-3 bg-[#e6effb80] 2xl:!px-5 !px-3;
}

.ticket-tabulator .tabulator-row {
  @apply md:py-3 sm:py-2 py-1 2xl:!px-5 !px-2;
}

div[tabulator-field="ticketNumber"] {
  @apply 2xl:!w-[150px] 1xl:!w-[120px] xl:!w-[110px] !w-[120px];
}

div[tabulator-field="productName"] {
  @apply 2xl:!w-[190px] 1xl:!w-[140px] xl:!w-[130px] !w-[140px];
}

div[tabulator-field="descriptions"] {
  @apply 2xl:!w-[600px] 1xl:!w-[580px] xl:!w-[530px] !w-[560px];
}

div[tabulator-field="createdBy"] {
  @apply 2xl:!w-[170px] 1xl:!w-[120px] xl:!w-[115px] !w-[130px];
}

div[tabulator-field="status"] {
  @apply 2xl:!w-[150px] xl:!w-[100px] !w-[120px];
}

div[tabulator-field="dates"] {
  @apply !w-[100px];
}
div[tabulator-field="type"] {
  @apply !w-[100px];
}
div[tabulator-field="date_purchase"] {
  @apply !w-[150px];
}

.success {
  @apply bg-blue-300;
}

.success rect {
  @apply stroke-primary;
}

.success path {
  @apply fill-primary;
}

.warning {
  @apply bg-[#ED9A12]/20;
}

.warning rect {
  @apply stroke-[#ED9A12];
}

.warning path {
  @apply fill-[#ED9A12];
}

.reviewed {
  @apply bg-[#257C65]/20;
}

.reviewed rect {
  @apply stroke-[#257C65];
}

.reviewed path {
  @apply fill-[#257C65];
}

.error {
  @apply bg-[#C32D0B]/20;
}

.error rect {
  @apply stroke-[#C32D0B];
}

.error path {
  @apply fill-[#C32D0B];
}
@keyframes l4 {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}
.marketplace li::marker {
  @apply font-bold text-black 2xl:text-lg 1xl:text-[17px] sm:text-base text-[15px] 1xl:leading-[30px] lg:leading-7 sm:leading-6 leading-[1.45rem];
}
.rectangle {
  @apply bg-white 2xl:w-[74px] 2xl:h-[74px] 1xl:w-[70px] 1xl:h-[70px] xl:w-16 xl:h-16 w-[55px] h-[55px] rounded-full absolute top-0 left-1/2 z-0;
}
.digital-products div {
  @apply !max-w-full;
}
.site-map li:nth-child(1) {
  @apply ml-0 before:bg-primary;
}

.cms-content {
  @apply mb-[18px];
}
.cms-content h2 {
  @apply 2xl:mt-[35px] 1xl:mt-[28px] mt-[22px];
}
.cms-content p,
.cms-content ul li,
.terms-condition p {
  @apply 1xl:mt-[15px] mt-[10px] text-gray-200;
}
.cms-content ul li,
.cms-content ol li {
  @apply 1xl:mt-[12px] mt-[10px] 2xl:text-lg 1xl:text-[17px] sm:text-base text-[15px] 2xl:leading-[30px] xl:leading-7 sm:leading-6 leading-[19px] text-gray-200;
}
.cms-content h3,
h4 {
  @apply 1xl:mt-5 mt-4;
}
.cms-content ol li {
  @apply list-[decimal] pl-[2px];
}
.cms-content ol {
  @apply pl-4;
}
.cms-content ul li {
  @apply relative before:content-[''] before:absolute before:left-0 xl:pl-[30px] pl-[26px] xl:before:w-5 xl:before:h-5 lg:before:w-[18px] lg:before:h-[18px] before:w-4 before:h-4 before:bg-no-repeat before:bg-contain before:mt-[5px];
}
.cms-content ul li::before {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'><g clip-path='url(%23clip0_1668_2776)'><path opacity='0.4' fill-rule='evenodd' clip-rule='evenodd' d='M10.002 1.53876C5.32786 1.53876 1.53876 5.32786 1.53876 10.002C1.53876 14.6761 5.32786 18.4651 10.002 18.4651C14.6761 18.4651 18.4651 14.6761 18.4651 10.002C18.4651 5.32786 14.6761 1.53876 10.002 1.53876ZM0 10.002C0 4.47803 4.47803 0 10.002 0C15.526 0 20.0039 4.47803 20.0039 10.002C20.0039 15.526 15.526 20.0039 10.002 20.0039C4.47803 20.0039 0 15.526 0 10.002Z' fill='%230156D5'/><path fill-rule='evenodd' clip-rule='evenodd' d='M15.9375 6.6994L9.0131 13.6238C8.86881 13.7681 8.67311 13.8491 8.46906 13.8491C8.265 13.8491 8.06932 13.7681 7.92503 13.6238L4.07812 9.77693L5.1662 8.68887L8.46906 11.9917L14.8495 5.61133L15.9375 6.6994Z' fill='%230156D5'/></g></svg>");
}
.cms-content table {
  @apply w-full border-collapse text-left 2xl:text-lg 1xl:text-[17px] sm:text-base text-[14x] 2xl:leading-[30px] sm:leading-6 leading-[19px] my-[25px]
}

.cms-content table th,
.cms-content table td {
  @apply border border-black 1xl:p-[14px] sm:p-[12px] p-[10px];
}
.cms-content table tbody tr td{
  @apply text-[#505050];
}

.cms-content table thead th {
  @apply font-bold;
}

.reactstar span{
  @apply md:!text-[37px] !text-[32px];
}
.cms-content a{
  @apply text-primary hover:text-black focus:text-black active:text-black;
}

/* Custom scrollbar for a specific section */
.scrollbar-custom::-webkit-scrollbar {
  @apply w-[3px]; 
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-full;
}
.scrollbar-custom::-webkit-scrollbar-track {
  @apply bg-blue-300;
}

.product-overview h2 {
  @apply 2xl:text-2xl sm:text-[23px] text-xl font-medium 1xl:leading-[35px] sm:leading-[33px] leading-[30px];
  }
  
  .product-overview ul li {
  @apply relative before:content-[''] before:absolute before:left-0 xl:pl-[30px] pl-[26px] xl:before:w-[19px] xl:before:h-[19px] lg:before:w-[18px] lg:before:h-[18px] before:w-4 before:h-4 before:bg-no-repeat before:bg-contain before:mt-[5px];
  }
  .product-overview ul li::before {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'><g clip-path='url(%23clip0_1668_2776)'><path opacity='0.4' fill-rule='evenodd' clip-rule='evenodd' d='M10.002 1.53876C5.32786 1.53876 1.53876 5.32786 1.53876 10.002C1.53876 14.6761 5.32786 18.4651 10.002 18.4651C14.6761 18.4651 18.4651 14.6761 18.4651 10.002C18.4651 5.32786 14.6761 1.53876 10.002 1.53876ZM0 10.002C0 4.47803 4.47803 0 10.002 0C15.526 0 20.0039 4.47803 20.0039 10.002C20.0039 15.526 15.526 20.0039 10.002 20.0039C4.47803 20.0039 0 15.526 0 10.002Z' fill='%230156D5'/><path fill-rule='evenodd' clip-rule='evenodd' d='M15.9375 6.6994L9.0131 13.6238C8.86881 13.7681 8.67311 13.8491 8.46906 13.8491C8.265 13.8491 8.06932 13.7681 7.92503 13.6238L4.07812 9.77693L5.1662 8.68887L8.46906 11.9917L14.8495 5.61133L15.9375 6.6994Z' fill='%230156D5'/></g></svg>");
  }
  .product-overview ul li,
  .product-overview ol li {
  @apply mt-[10px] 2xl:text-lg 1xl:text-[17px] sm:text-base text-[15px] 2xl:leading-[30px] xl:leading-7 sm:leading-6 leading-[19px] text-gray-200;
  }
  .product-overview ul li {
  @apply 2xl:text-lg 1xl:text-[17px] sm:text-base text-[15px] 2xl:leading-[30px] xl:leading-7 sm:leading-6 leading-[19px] text-gray-200;
  }
  
  

/* =================== template insights ======== */
.single-post-header h1 {
  @apply sm:mb-5 mb-4 2xl:text-3xl xl:text-[32px] lg:text-[30px] sm:text-[28px] text-[22px] font-medium xl:leading-[45px] md:leading-[40px] sm:leading-9 leading-8;
  }
  .single-post-header .tags {
  @apply flex items-center flex-wrap gap-[10px] lg:mb-8 mb-6;
  }
  .template-info {
  @apply flex items-center gap-5 justify-between flex-wrap w-full 1xl:py-[30px] md:py-[22px] py-[18px] border-t border-[#00193E1A];
  }
  .template-info div {
  @apply flex items-center gap-2;
  }
  .single-post-header .template-info h3 {
  @apply xl:text-base md:text-[15px] text-sm leading-5 text-gray-200;
  }
  .single-post-header .container {
  @apply py-5;
  }
  .single-blog .container {
    @apply xl:!max-w-[1200px] mx-auto;
    }
    .content-grid {
    @apply flex items-start xl:gap-[60px] gap-[50px];
    }
    .left-content {
    @apply  w-full;
    }
    .right-content {
    @apply  w-[36%] h-full lg:block hidden;
    }
    /* Text Styles */
    .single-blog .content-grid .left-content h2 {
    @apply 2xl:text-2xl sm:text-[23px] text-xl font-medium 1xl:leading-[35px] sm:leading-[33px] leading-[30px] 2xl:mt-[30px] 2xl:mb-[20px] xl:mt-6 xl:mb-4 mt-4 mb-[14px];
    }
    .single-blog .content-grid .left-content h3 {
    @apply font-medium 2xl:text-xl 1xl:text-[19px] md:text-lg sm:text-[17px] sm:text-base text-[15px] mt-[20px] mb-[15px];
    }
    .single-blog .content-grid .left-content img{
    @apply sm:py-5 py-4;
    }
    .single-blog .content-grid .left-content ol {
    @apply pl-[18px];
    list-style-type: decimal !important;
    }
    .single-blog .content-grid .left-content ul li {
    @apply relative before:content-[''] before:absolute before:left-0 xl:pl-[30px] pl-[26px] xl:before:w-5 xl:before:h-5 lg:before:w-[18px] lg:before:h-[18px] before:w-4 before:h-4 before:bg-no-repeat before:bg-contain before:mt-[5px];
    }
    .single-blog .content-grid .left-content ul li::before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'><g clip-path='url(%23clip0_1668_2776)'><path opacity='0.4' fill-rule='evenodd' clip-rule='evenodd' d='M10.002 1.53876C5.32786 1.53876 1.53876 5.32786 1.53876 10.002C1.53876 14.6761 5.32786 18.4651 10.002 18.4651C14.6761 18.4651 18.4651 14.6761 18.4651 10.002C18.4651 5.32786 14.6761 1.53876 10.002 1.53876ZM0 10.002C0 4.47803 4.47803 0 10.002 0C15.526 0 20.0039 4.47803 20.0039 10.002C20.0039 15.526 15.526 20.0039 10.002 20.0039C4.47803 20.0039 0 15.526 0 10.002Z' fill='%230156D5'/><path fill-rule='evenodd' clip-rule='evenodd' d='M15.9375 6.6994L9.0131 13.6238C8.86881 13.7681 8.67311 13.8491 8.46906 13.8491C8.265 13.8491 8.06932 13.7681 7.92503 13.6238L4.07812 9.77693L5.1662 8.68887L8.46906 11.9917L14.8495 5.61133L15.9375 6.6994Z' fill='%230156D5'/></g></svg>");
    }
    .single-blog .content-grid .left-content p,
    .single-blog .content-grid .left-content ul li,
    .terms-condition p {
    @apply mb-[10px] text-gray-200;
    }
    .single-blog .content-grid .left-content ul li,
    .single-blog .content-grid .left-content ol li {
    @apply 1xl:mt-[12px] mt-[10px] 2xl:text-lg 1xl:text-[17px] sm:text-base text-[15px] 2xl:leading-[30px] xl:leading-7 sm:leading-6 leading-[19px] text-gray-200;
    }
    .single-blog pre {
      @apply bg-[#E6EFFB] !text-primary p-4 rounded-[10px] overflow-x-auto font-['Fira_Code',monospace] text-[15px] leading-[1.6] border border-[#E6EFFB];
    }
    .single-blog pre p {
      @apply !text-primary
    }
    .insight-sticky {
    @apply sticky top-6;
    }
    .insight-box h3 {
    @apply text-xs font-semibold text-slate-500 uppercase tracking-wide mb-4;
    }
    .insight-main-box {
    @apply space-y-2;
    }
    .insight-main-box p {
    @apply block pl-4 xl:py-2.5 py-2 text-gray-200 border-l-2 border-blue-300 bg-white hover:text-primary transition-all ease-in-out cursor-pointer;
    }
    .insight-main-box p.active {
    @apply border-primary text-primary-900;
    }
    .this-page-content {
    @apply flex items-center gap-[11px] mb-4;
    }
    .global-icon {
    @apply bg-primary flex items-center justify-center w-[34px] h-[34px] rounded-[7px] mb-9;
    }
    .logo-box {
    @apply w-8 h-8 rounded-full overflow-hidden mb-4;
    }
    
    /* Table of Contents Styles */
    .insight-main-box p {
    @apply block pl-4 xl:py-2.5 py-2 text-gray-200 border-l-2 border-blue-300 bg-white hover:text-primary hover:border-primary transition-all ease-in-out cursor-pointer rounded-r-md;
    }
    
    .insight-main-box p:hover {
    @apply bg-blue-50;
    }
    
    .insight-main-box p.active {
    @apply border-primary text-primary bg-blue-50;
    }
    
    /* Smooth scrolling for the entire page */
    html {
    scroll-behavior: smooth;
    }

    .left-content a{
      @apply text-primary border-b border-primary font-medium;
    }
    
    /* Add some spacing for headings when scrolling */
    .prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
    scroll-margin-top: 80px;
    }
      
    .left-content a {
      @apply xl:w-[74%] lg:w-[68%] w-full;
      }